In [1]:
from fifo_lib import FIFO
buy_operations = ['Buy']
sell_operations = ['Sell']

source_path = 'data_v2.xlsx'

source_fields = {
    'order_id': 'order_id',
    'operation_type': 'type',
    'isin': 'ISIN',
    'oparation_date': 'date',
    'qty': 'qty',
    'net': 'net'
}

fifo = FIFO(source_path, source_fields, buy_operations, sell_operations)

In [2]:
fifo.calc()

,order_id,type,ISIN,date,qty,net,aaaa,bbbb,profit,calcBalance,desc [ref_order: profit/qty]
0,1000001,Buy,000AAA0A0,2022-03-01,5,-500,000AAA0A0,000AAA0A0,340.0,0,
1,1000002,Buy,000AAA0A0,2022-02-01,3,-360,000AAA0A0,000AAA0A0,120.0,0,
2,1000003,Buy,000AAA0A0,2022-01-01,4,-440,000AAA0A0,000AAA0A0,200.0,0,
3,1000004,Sell,000AAA0A0,2022-04-04,-10,1600,000AAA0A0,000AAA0A0,500.0,0,| 1000003: 200.0/4 | 1000002: 120.0/3 | 10000...
4,1000005,Sell,000AAA0A0,2022-05-01,-2,360,000AAA0A0,000AAA0A0,160.0,0,| 1000001: 160.0/2
5,1000006,Buy,000BBB0B0,2022-06-01,3,-360,000BBB0B0,000BBB0B0,60.0,0,
6,1000007,Buy,000BBB0B0,2022-07-01,4,-440,000BBB0B0,000BBB0B0,60.0,2,
7,1000008,Sell,000BBB0B0,2022-08-01,-5,700,000BBB0B0,000BBB0B0,120.0,0,| 1000006: 60.0/3 | 1000007: 60.0/2

In [3]:
fifo.print_operations()

=============SALE============
order:  1000004
ISIN:  000AAA0A0
date:  2022-04-04 00:00:00
qty:  10
profit:  500.0
reference operations:
  -order: 1000003, type: Buy, qty: 4, profit: 200.0
  -order: 1000002, type: Buy, qty: 3, profit: 120.0
  -order: 1000001, type: Buy, qty: 3, profit: 180.0
=============SALE============
order:  1000005
ISIN:  000AAA0A0
date:  2022-05-01 00:00:00
qty:  2
profit:  160.0
reference operations:
  -order: 1000001, type: Buy, qty: 2, profit: 160.0
=============SALE============
order:  1000008
ISIN:  000BBB0B0
date:  2022-08-01 00:00:00
qty:  5
profit:  120.0
reference operations:
  -order: 1000006, type: Buy, qty: 3, profit: 60.0
  -order: 1000007, type: Buy, qty: 2, profit: 60.0

In [8]:
df_file_path = 'result2.xlsx'
fifo.df_to_excel(df_file_path)

In [9]:
ops_json_path = "ops.json"
fifo.ops_to_file(ops_json_path)